:root{
    --blue-dark: rgb(39, 43, 51);
    --black-bajo: #0007;
    --blue-light : rgb(18, 249, 187);
    --blue: rgb(240, 159, 38);
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
    font-family: -apple-system,'BlinkMacSystemFont','Segoe UI','Roboto','Helvetica','Arial',sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content-title{
    width: 100%;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--blue-dark);
    color: #fff;
}
.filter-container{
    width: 100%;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin: 20px 0;
    flex-wrap: wrap;
    font-size: 1.5em;
}

#filter-by, #status-filter, #gender-filter{
    font-size: 1em;
    width: 150px;
    background: var(--black-bajo);
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
    border: 3px double var(--blue-light);
}

.search{
    width: 500px;
    position: relative;
}
.search input{
    width: 100%;
    height: 50px;
    font-size: 1.5em;
    background: var(--black-bajo);
    color: #fff;
    border-radius: 10px;
}
.search input:focus{
    border: 3px solid var(--blue-light);
}

.search input:disabled{
    cursor: no-drop;
}

.listSearch{
    background: #000;
    position: absolute;
    top: 50px;
    width: 100%;
    max-height: 620px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 0 0 0 5px;
    z-index: 100;
}

.listSearch::-webkit-scrollbar{
    background: rgb(0, 0, 0);
    width: 5px;
}
.listSearch::-webkit-scrollbar-thumb{
    background: #fff;
    border-radius: 10px;
}
.item-search {
    height: 150px;
    background: var(--blue-dark);
    display: flex;
}

.contain-img-list{
    width: 30%;
    height: 100%;
}
.img-personaje-list{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contain-dataPersonaje-list{
    width: 70%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: .8em;
}
.contain-dataPersonaje-list .name{
    font-size: 1em;
}




.content-cards{
    width: 100%;
    min-height: calc(100vh - 180px);
    background: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
}
.cards-personajes{
    cursor: pointer;
    height: 220px;
    width: 600px;
    background: var(--blue-dark);
    margin: 0.75rem;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 15px 0 #000;
    color: #ffffff;
    display: flex;
}
.contain-img{
    width: 40%;
    height: 100%;
}
.contain-img .img-personaje{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.contain-dataPersonaje{
    width: 40%;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name{
    font-size: 1.5em;
    position: relative;
}
.status-species{
    font-size: .7em;
}
.first-last-ubication, .last-location-list,.genero{
    color: var(--blue-light);
}





.modal{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: var(--blue-dark);
    z-index: 200;
}

.modal .contain-img{
    width: 400px;
    height: 400px;
}
.modal .contain-img img{
    border-radius: 100px;
}
.modal .contain-dataPersonaje{
    width: 100%;
    text-align: center;
    color: #fff;
}
.exit{
    width: 200px;
    margin-top: 10px;
    color: var(--blue-dark);
    background: var(--blue-light);
    border-radius: 10px;
    font-size: 1.5em;
    cursor: pointer;
    transition: all .5s;
}

.exit:hover{
    color: var(--blue-light);
    background: var(--blue-dark);
    border: 1px solid var(--blue-light);
}

.alive{
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #4a7;
}
.dead{
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #d45;
}
.unknown{
    position: absolute;
    right: 0;
    top: 0;
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #888;
}


.error{
    font-size: 2em;
}